.accordion-header {
  cursor: pointer;
}

.accordion-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: 2px solid #999;
  border-bottom: 2px solid #999;
  transform: rotate(-45deg);
  margin-right: 5px;
}

.accordion-header.active .accordion-icon {
  transform: rotate(45deg);
}

.accordion-content {
  display: none;
  padding: 10px;
}

.accordion-header.active + .accordion-content {
  display: block;
}
